.body-container {
    display: flex;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 4px 4px 4px lightgray;
    max-height: 48px;
}


.icon-container {
    display: flex;
    align-items: center;
    gap: 12px;

}

.menu-logo {
    height: 40px;
    width: 40px;
}

.menu-logo:hover {
    cursor: pointer;
}

.youtube-icon {
    height: 140px;
    width: 140px;
}

.search-container>input {
    min-height: 40px;
    min-width: 400px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 0 20px;
}

.search-container>button {
    min-height: 44px;
    width: 60px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.user-icon {
    height: 48px;
    width: 48px;
}

.menu-container {
    padding: 16px;
    box-shadow: 4px 4px 4px lightgrey;
    min-width: 160px;
}

.menu-container>ul {
    list-style-type: none;
    padding: 0px;
}

.Button-Component {
    margin: 8px;
}

.Button-Component>button {
    padding: 8px;
    margin: 12px;
    border: none;
    background-color: #f0f0f0;


    &:hover {
        cursor: pointer;
        background-color: lightgrey;

    }
}

.button-list {
    display: flex;
}

.video-card>img {
    width: 256px;
    height: 160px;
    border-radius: 16px;

    &:hover {
        cursor: pointer;
    }
}

.video-card {
    margin: 20px;
    padding: 12px;
    box-shadow: 4px 4px 4px lightgrey;
    width: 256px;
}

.video-card>p {
    /* text-align: center; */
    width: 256px;
    padding-left: 4px;

}

.video-Container {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1500px; */
    margin: 0 20px;
    justify-content: space-around;
}

.enhance-video-card {
    border: 1px solid red;
    padding: 4px;
    margin: 4px;
}

.search-options {
    position: absolute;
    background-color: white;
    min-width: 500px;
    border-radius: 12px;
    padding: 4 px;
    border: 1px solid lightgrey;

}

.search-options>ul {
    padding: 0;
}

.search-options>ul>li {
    list-style-type: none;
    margin: 8px;
    padding: 8px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.watch-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    width: 100%;
}

.watch-video-container {
    /* margin: 12px; */
    width: 100%;
}

.comment-section {
    padding: 0 12px;
}

.comment-container {
    display: flex;
    box-shadow: 4px 4px 4px lightgray;
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}

.comment-reply {
    padding-left: 20px;
    margin-left: 28px;
    border-left: 1px solid black;
}

.watch-video-container {
    display: flex;
    width: 100%;
}

.live-chat-container {
    margin-left: 12px;
    border: 1px solid black;
    padding: 12px;
    font-weight: 600;
    height: 580px;
    min-width: 496px;
    background-color: rgb(250, 247, 247);
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message-container {
    display: flex;
    align-items: center;
    /* items-center in tailwind css */
    box-shadow: 4px 4px lightgrey;
    margin: 12px 0;
}

.chat-name {
    font-size: 20px;
    font-weight: 600;
    padding: 0 12px;
}

.add-input-box {
    border: 1px solid black;
    width: 528px;
    margin: 4px 12px;
}

.add-input-box>input {
    align-items: center;
    min-height: 40px;
    width: 360px;
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 2px 2px 2px #f0f0f0;
    margin: 12px;
    padding: 0 12px;
}
.add-input-box>button{
    background-color: rgb(175, 238, 175);
    padding: 10px;
    border-radius: 8px;
    &:hover{
        cursor: pointer;    
        background-color:  rgb(129, 228, 129);
    }
}